/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
img,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.25rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */

/* font-family: 'DM Sans', sans-serif;
font-family: 'DM Serif Display', serif; */

/* Zina's CSS */

.carousel-item img {
  padding: 10px;
  background-color: white;
  position: relative;
  display: inline-block;
  align-items: center;
  margin: 20px 10px 20px 90px;
}

.carousel-inner {
  background-color: #f39289;
}

#carouselmain {
  background-color: #a7d0cd;
}
#carouseldesert {
  background-color: #f0ebcc;
}

/* h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
} */

.carousel-control-prev,
.carousel-control-next {
  height: 300px;
  width: 60px;
  outline: $color-white;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid $color-white;
  background-color: $color-white;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  width: 30px;
  height: 48px;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  width: 30px;
  height: 48px;
}

/* General */

body {
  display: flex;
  flex-direction: column;
}

h1 {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: bolder;
}

h2 {
  padding-bottom: 2rem;
  font-family: "Roboto slab", serif;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

/* Sitewide */

/* * {
  border: 1px solid black !important;
} */

.logo-cooking {
  color: #f39189;
}

header {
  display: flex;
  justify-content: center;
  box-shadow: 0 -2px 5px rgb(0 0 0 / 33%);
  height: 15vh;
}

nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-wrapper img {
  width: 10vw;
}

.nav-menu-list {
  display: flex;
  flex-direction: row;
  text-indent: 0;
  padding-right: 1rem;
}

.nav-menu-list :any-link {
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.nav-menu-list li {
  padding: 2rem;
  font-weight: 500;
}

.nav-menu-list li:hover {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.nav-menu-list li.list-item-starter:hover a {
  color: rgba(243, 145, 137, 80%);
}

.nav-menu-list li.list-item-main:hover a {
  color: rgba(167, 208, 205, 80%);
}

.nav-menu-list li.list-item-dessert:hover a {
  color: rgba(240, 235, 204, 80%);
}

.nav-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-bar-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.search-bar-field {
  border: 0;
  border-bottom: 1px solid gray;
  height: 2rem;
  width: 15vw;
  font-size: 1rem;
  color: gray;
  text-indent: 0.5rem;
  transition: all 0.3s ease-in;
}

.search-bar-button {
  opacity: 0.3;
  /* margin-left: 0.5rem; */
  width: 40px;
}

.search-bar-button img {
  max-width: 100%;
  height: auto;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f7;
  padding: 1rem 0;
}

.footer-wrapper {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80vw;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
}

.footer-list {
  display: flex;
  flex-direction: row;
  text-indent: 0;
}

.footer-list li {
  padding-right: 1rem;
}

.footer-list-about {
  padding: 0;
  font-weight: 500;
}

.contact-mail:any-link {
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.contact-mail:hover {
  text-decoration: underline;
}

.footer-subheading {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.footer-about-link:any-link {
  font-size: 1rem;
  text-decoration: none;
  color: black;
}

.footer-wrapper-about {
  justify-content: space-evenly;
  padding: 2rem 1rem;
}

.footer-newsletter-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.footer-newsletter-input input {
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
  height: 2rem;
  width: 15vw;
  font-size: 1rem;
  color: gray;
  text-indent: 0.5rem;
  transition: all 0.3s ease-in;
}
/* Stores */

.meal-of-day {
  padding: 3rem 3rem;
  margin: 2rem 0rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 80vw;
}

.meal-of-day :any-link {
  padding: inherit;
  margin: inherit;
  text-decoration: inherit;
  font: inherit;
  color: inherit;
}

.day-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* width: 80vw; */
}

.day-meal {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0.1rem;
  color: black;
  transition: flex 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  text-align: center;
}

.day-meal-grow {
  flex: 1.2;
  background-size: cover;
}

.daily-header {
  /* font-family: "Roboto Slab", serif; */
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: underline;
  text-underline-offset: 7px;
  visibility: hidden;
  transition: all 0.5s linear;
  opacity: 0;
  padding: 1rem;
}

.day-starter-background {
  background-image: url(/images-franz/daily-starter.jpg);
}

.day-main-background {
  background-image: url(/images-franz/daily-main.jpg);
}

.day-dessert-background {
  background-image: url(/images-franz/daily-dessert.jpg);
}

.daily-icon-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  visibility: hidden;
  transition: all 0.5s linear;
  opacity: 0;
  text-align: center;
  padding: 1rem;
}

.daily-icon-wrapper span {
  display: block;
}

.meal-visible {
  visibility: visible;
  opacity: 1;
}

/* Utilities */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}

.starter-background-color {
  background-color: rgba(243, 145, 137, 80%);
}

.main-background-color {
  background-color: rgba(167, 208, 205, 80%);
}

.dessert-background-color {
  background-color: rgba(240, 235, 204, 80%);
}

/* Media queries */

@media only screen and (max-width: 725px) {
  .footer-wrapper {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footer-container {
    align-items: center;
  }

  .nav-menu-container {
    position: absolute;
    top: 15vh;
    right: 0;
    background-color: white;
    width: 50vw;
    flex-direction: column;
    padding: 1rem;
    align-items: stretch;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .nav-menu-list {
    flex-direction: column;
    text-align: center;
  }

  .nav-menu-list li {
    border-bottom: 1px solid gray;
  }
}
